@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700;&display=swap');


.containerBuscarPac{
    overflow:auto;
    color: white;
    background: rgb(18,17,20);
    background: linear-gradient(90deg, rgba(18,17,20,1) 0%, rgba(167,25,48,1) 14%);
    background-size:100vw;
    height: 100vh;
    width: 100vw;
    
}

.flecha {
    height: 50px;
    width: 200px;
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flecha a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.flecha a:hover{
    background-color: white;
    color: black;
    border-radius: 50px;
}

.bodyAggPac2{
    margin-top:-25px;
    width:100vw ;
    height:10vh;
    display: flex;
    flex-direction: column;
}

hr { 
    display: block; height: 1px;
    border: 0; border-top: 3px solid #6b0e0e;
    margin: 0; padding: 0; 
}

.boton-buscar {
    font-size: 16px;
    width: 11vw;
    height: 50px;
    border: none;
    color: white;
    box-shadow: rgba(68, 67, 67, 0.9)2px 1.5px 4px 2px; 
    background:#a71930;
    cursor: pointer;
    transition: .3s ease all;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    margin-left:-9.5px;
    outline: none;
}

.boton-buscar:hover {
    background: linear-gradient(180deg, #6b0e0e 10%, #b80c23 90%);
    font-size: 18px;
    
}

.logoheaderImagen{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoheaderImagen img {
    width: 100%;
    height: 100%;
}

.titulo {
    margin-top: 20px;
    margin-left: 100px;
    letter-spacing: 5px;
    font-size: 23px;
}

.search {
    padding:10px;
    background-color:black;
    width:50%;
    height: 200px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius:10px !important;
    border-top-right-radius:10px !important;
    
}

.inputD {
    margin-top:12px ;
    margin-right:10px;
    margin-left: 10px;
    padding:10px;
    color: black;
    border-color:#a71930 ;
    border-left-width: 4px !important;
    border-top-width:4px ;
    border-bottom-width:5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
    border-right: none;
    width: 300px;
    height: 50px;
    font-size: 20px;
    box-shadow: rgba(68, 67, 67, 0.9)2px 3px 4px 2px; 
    outline: none;
}

label {
    font-size: 30px;
}

.datosTraidos {
    width:50%;
    background-color: white!important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    gap: 30px;
    padding: 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(26, 25, 25, 0.9)12px 10px 70px 10px;
    height: auto;
}

.datosTitle{
    font-size:24px !important;
    align-self: center;
    margin-top:-30px;
    
}

.datosHr
    { display: block; height: 1px;
        border: 0; border-top: 0.1px solid rgb(189, 183, 183) !important;
        margin: 0; padding: 0;box-shadow: rgba(94, 92, 92, 0.9)2px 1px 20px 0.4px; }


.datosTraidos p {
    padding: 5px;
    color: rgb(73, 73, 73);
    font-size: 22px;
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
}

.datosTraidos p p {
    margin-bottom:auto;
    font-size: 19px;
    color:black !important;
}

.errorMsgBuscarPac{
    display: flex;
    width:22.5vw;
    padding: 5px;
    font-size: 12px;
    background-color:white;
    color:red;
    border-radius: 6px;
    margin-bottom: 7px;
    margin-top: -30px;
    justify-content: center;
    margin-right: 71px;
}

.grupoBotonesModal{
    position: absolute;
    bottom:25px;
    left: 215px;
    display: flex;
    justify-content: space-between;
    background: #6b0e0e!;
}

.aceptarModal{
    width: 15vw;
    height: 30px;
    border: none;
    color: white;
    box-shadow: rgba(100,130,130,0.9)2px 3px 4px 2px; 
    background:#a71930;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}

.cancelarModal{
    margin-left: 10px;
    width: 15vw;
    height: 30px;
    border: none;
    color: white;
    box-shadow: rgba(100,130,130,0.9)2px 3px 4px 2px; 
    background:#a71930;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}

.topModalhr{ 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 3px solid #6b0e0e !important;
    margin: 0; 
    padding: 0; 
}


.aceptarModal:hover{
    background:grey;
}

.cancelarModal:hover{
    background:grey;
}

.tittleModal{
    position: absolute;
    left:50px;
    top:22px;
    color: black;
    letter-spacing: 4px;
    font-size: 26px;
    
}

.turnosIcon{
    width:22px ;
    height:22px;
    padding:1px;
    color: #6b0e0e !important;
}
.turnosBtnIcon{
    width:17px ;
    height:17px;
    padding:1px;
    margin-bottom: 5px;
    margin-right: 2px;
}
.botones-buscarPaciente {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tablaTurnosContainer{
    border-radius: 5px;
    position: absolute;
    top: 60px;
    width:810px;
    height:385px;
    color: black;
    background-color:rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
}

.tablaTurnosContainer tr {
    padding: 5px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tablaTurnosContainer tr th:first-child{
    border-right: 1px solid black;
}

.turnosList {
    display: flex;
    flex-direction: column;
}

.turnoLine {
    padding: 5px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;
}

.turnoLine:hover {
    background-color:rgb(170, 170, 170);
}

.turnoLine:active {
    background-color:rgb(43, 255, 0);
}

.turnoLine p {
    text-align: center;
}

.turnoLine p:first-child{
    border-right: 1px solid black;
}

.msgAsignarTurno{
    position:absolute;
    color: black;
    bottom: 70px;
    left: 320px;
}

.buscarTurnobtn{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    box-shadow: rgba(100,130,130,0.9)2px 3px 4px 2px; 
    background:#a71930;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}

.buscarTurnobtn:hover{
    color: black;
    background-color: grey;
}

