@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
}

.navlogo{
    width:200px;
    margin-left: 46px;
}

.contenedor {
    color:white;
    background-color:#a71930 !important;
    background-size: 100%;
    background-image: url("/public/images/linitas.png"); 
    height: 100vh;
    width: 100vw;
}

.nav {
    background-color: rgba(0,0,0,.2);
    width:100%;
    height:60px;
    display: flex;
    flex-direction: raw;
    align-items: center;
}

.nav p {
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 50px;
}

.nav-boton {
    margin-left: 40px;
    transition: .4s ease all;
    height: 100%;
    font-size: 20px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    /* display: flex;
    align-items: center; */
    cursor: pointer;
}

.nav-boton span {
    display:list-item;
    transition: .4s ease all;
}

.nav-boton p:hover {
    background-color: white !important;
    border-radius: 15px 15px 0px 0px !important;
}

.nav-boton:hover span {
    transition: .4s ease all;
    color:#a71930;
    background-color: white !important;
    border-radius: 15px 15px 0px 0px !important;
    padding-top: 8px;
    padding-left:8px;
    margin-left: -8px;
    width:120px;
    height:39px ;
}

.submenu {
    transition: .4s ease all;
    display: none;
    position: absolute;
    min-height: 30vh;
    min-width: 30vh;
    background-color:white;
    border-radius: 0px 15px 15px 15px;
    transform: translate(-8px, 0px);
    overflow: hidden;
}

.submenu a {
    display: block;
    color: #a71930;
    text-decoration: none;
    padding: 12px 16px;
    text-align: center;
}

.submenu a:hover {
    background-color: rgb(189, 185, 185);
}

.nav-boton:hover .submenu {
    transition: .4s ease all;
    
    display: block;
}

.imagenLogo {
    width: 100%;
    height: calc(90vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeBodyLogo{
    position: absolute;
    width: 80%;
    height: 43%;
}
