
.containerTurnosAsign{
    overflow:auto;
    color: white;
    background: rgb(18,17,20);
    background: linear-gradient(90deg, rgba(18,17,20,1) 0%, rgba(167,25,48,1) 14%);
    background-size:100vw;
    height: 100vh;
    width: 100vw;
    
}

hr { 
    display: block; height: 1px;
    border: 0; border-top: 3px solid #6b0e0e;
    margin: 0; padding: 0; 
}

.bodyTurnosAsign{
    display: flex;
    justify-content: center;
}

.tablaTurnosContainer2{
    border-radius: 5px;
    position: absolute;
    top: 130px;
    width:1200px;
    height:385px;
    color: black;
    background-color:rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
}

.tablaTurnosContainer2 tr {
    padding: 5px;
    box-shadow: 0px 1px 4px rgb(124, 119, 119);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tablaTurnosContainer2 tr th:first-child{
    border-right: 1px solid black;
}

.tablaTurnosContainer2 tr th:nth-child(2){
    border-right: 1px solid black;
}

.turnosList2 {
    display: flex;
    flex-direction: column;
    height: auto;
    color: rgb(73, 73, 73);
}

.mensajeTurnosAsign{
    position: absolute;
    top: 50px;
    align-self: center;
}

.tituloTurnosAsign{
    margin-top: 20px;
    margin-left: 100px;
    letter-spacing: 5px;
    font-size: 23px;
}